<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Tiendita</title>
    {% load static %}
    {% include 'files/extends/links.html' %}

</head>
<body class="gradient-custom">
    {% include 'files/extends/barra.html' %}
    <div class="configuracion">
        <div class="configuracion__saludoUser">
            <div class="saludo__letras">
                <h1>holi</h1>
            </div>
        </div>
        <div class="configuracion__espacio">
            <div class="configuracion__grid">
                {% include 'files/extends/menuIzqSett.html' %}
                <div class="configuracion__menuDir">
                    <h2 class="fw-bold mb-2 text-uppercase" style="margin-top: 1rem;">Mis metodos de pago</h2>
                    <hr>
                    <div class="configuracion__marginHist">
                    </div>
                    <div class="configuracion__btnsDire">
                    </div>
                </div>
            </div>
            <div class="configuracion__menuBtn2 configuracion__btnsDire">
                <input type="submit" class="btn btn-outline-light btn-lg px-5" value="Agregar Metodo">
                <input type="submit" class="btn btn-outline-light btn-lg px-5" value="Guardar">
            </div>
        </div>
    </div> 
    <hr>
    {% include 'files/extends/footer.html' %}    
</body>
</html>