{% load static %}
<div class="row">
    <h1>Lista de productos</h1>
</div>
<div class="row">
    <table>
        <tr>
            <td>id</td>
            <td>nombre</td>
            <td>precio</td>
            <td>descripción</td>
        </tr>
        {% for pro in productos %}
            <tr>
                <td>{{ pro.idProducto }}</td>
                <td>{{ pro.nombreProducto }}</td>
                <td>{{ pro.precioProducto }}</td>
                <td>{{ pro.descripcionProducto }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
