<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Tiendita</title>

    {% load static %}
    {% include 'files/extends/links.html' %}
    <script type="text/javascript" src="{% static 'files/js/app3.js' %}"></script>
</head>
<body class="gradient-custom">
    {% include 'files/extends/barra.html' %}    

    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-5 mt-md-4 pb-5">
                                <h2 class="fw-bold mb-2 text-uppercase">Registrate!</h2>
                                <p class="text-white-50 mb-5">Ingresa tus datos!</p>
                                <h2 class="fw-bold mb-2 text-uppercase emptyError"></h2>
                                <form method='post' action="#" id="registro">
                                    {% csrf_token %}
                                    <div class="form-group edit">
                                        {{ form.as_table }}
                                        <div class="form-outline form-white mb-4">
                                            <label class="form-label fw-bold fs-4" for="InputPassword">Confirmar contraseña</label>
                                            <input type="Password" id="id_confirmPass" class="form-control form-control-lg" placeholder="Confirmar contraseña"/>
                                        </div>
                                    </div>
                                    <input type="reset" class="btn btn-outline-light btn-lg px-5 tamanno" onclick="limpiar()" id="btnLimpiar" value="Limpiar">
                                    <input type="submit" class="btn btn-outline-light btn-lg px-5 tamanno" onclick="enviar()" id="btnEnviar" value="Enviar">
                                    <div id="error" class="alert alert-danger" role="alert">
                                        {{ mensaje }}
                                        <span class="alert alert-danger" id="errorUsername"></span>
                                        <span class="alert alert-danger" id="errorEmail"></span>
                                        <span class="alert alert-danger" id="errorRegion"></span>
                                        <span class="alert alert-danger" id="errorProvincia"></span>
                                        <span class="alert alert-danger" id="errorComuna"></span>
                                        <span class="alert alert-danger" id="errorPassword1"></span>
                                        <span class="alert alert-danger" id="errorPassword2"></span>
                                    </div>
                                </form>
                            </div> 
                            <div>
                              <p class="mb-0 fw-bold fs-4">¿Ya tienes un cuenta? <a href="{% url 'login' %}" class="text-white-50 fw-bold fs-4">Inicia Sesión!</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    {% include 'files/extends/footer.html' %}    

    <!-- script -->
    <script>
        $.get("https://apis.digital.gob.cl/dpa/regiones", function (data) {
            $.each(data, function (i, data) {
                $("#regiones").append("<option value='" + data.codigo + "'>" + data.nombre + "</option>");
            });
        });

        $("#regiones").change(function () {
            $()
            $("#provincia").empty();
            $.get("https://apis.digital.gob.cl/dpa/regiones/" + $("#regiones").val() + "/provincias", function (data) {
                $.each(data, function (i, data) {
                    $("#provincia").append("<option value='" + data.codigo + "'>" + data.nombre + "</option>");
                });
            });
        });

        $("#provincia").change(function () {
            $("#comunas").empty();
            $.get("https://apis.digital.gob.cl/dpa/provincias/" + $("#provincia").val() + "/comunas", function (data) {
                $.each(data, function (i, data) {
                    $("#comunas").append("<option value='" + data.codigo + "'>" + data.nombre + "</option>");
                });
            });
        });
    </script>
    
</body>
</html>